#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

/ {
    combos {
        compatible = "zmk,combos";

        combo_eisu {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LANG2>;
        };

        combo_kana {
            timeout-ms = <60>;
            key-positions = <16 17>;
            bindings = <&kp LANG1>;
        };

        combo_esc {
            timeout-ms = <60>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <60>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

        combo_minus {
            bindings = <&kp MINUS>;
            key-positions = <8 9>;
            timeout-ms = <60>;
        };

        combo_tilda {
            bindings = <&kp JP_TILDE>;
            key-positions = <18 19>;
            timeout-ms = <60>;
        };

        combo_psc {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <0 9>;
        };
    };
    behaviors {
        // [ と { を切り替える定義
        lbr_morph: left_bracket_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "LBR_MORPH";
            #binding-cells = <0>;
            bindings = <&kp JP_LBRACKET>, <&kp JP_LBRACE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // ] と } を切り替える定義
        rbr_morph: right_bracket_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "RBR_MORPH";
            #binding-cells = <0>;
            bindings = <&kp JP_RBRACKET>, <&kp JP_RBRACE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 1 -> !
        jis_1: jis_number_1 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_1";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 2 -> "
        jis_2: jis_number_2 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_2";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&kp JP_DQUOTE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 3 -> #
        jis_3: jis_number_3 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_3";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&kp HASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 4 -> $
        jis_4: jis_number_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_4";
            #binding-cells = <0>;
            bindings = <&kp N4>, <&kp DLLR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 5 -> %
        jis_5: jis_number_5 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_5";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&kp PRCNT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 6 -> &
        jis_6: jis_number_6 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_6";
            #binding-cells = <0>;
            bindings = <&kp N6>, <&kp JP_AMPERSAND>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 7 -> '
        jis_7: jis_number_7 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_7";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp JP_QUOTE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 8 -> (
        jis_8: jis_number_8 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_8";
            #binding-cells = <0>;
            bindings = <&kp N8>, <&kp JP_LPAREN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 9 -> )
        jis_9: jis_number_9 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_9";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp JP_RPAREN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W     &kp E     &kp R        &kp T      &kp Y     &kp U        &kp I       &kp O      &kp P
&kp A      &kp S     &kp D     &kp F        &kp G      &kp H     &kp J        &kp K       &kp L      &kp SEMI
&kp Z      &kp X     &kp C     &kp V        &kp B      &kp N     &kp M        &kp COMMA   &kp DOT    &kp APOS
&kp LSHFT  &kp LALT  &kp LCMD  &lt 2 SPACE  &kp LCTRL  &kp BSPC  &lt 1 ENTER  &kp DELETE  &kp RSHFT  &mt LALT SLASH
            >;
        };

        layer1 {
            label = "NUMBER";
            bindings = <
&trans        &kp KP_N0     &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp MINUS        &trans     &kp UP      &trans      &trans
&trans        &kp JP_EQUAL  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp JP_PLUS      &kp LEFT   &kp DOWN    &kp RIGHT   &trans
&trans        &trans        &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp JP_ASTERISK  &kp SLASH  &lbr_morph  &rbr_morph  &trans
&trans        &trans        &trans     &kp LSHFT  &trans     &to 0            &trans     &kp LCMD    &trans      &trans
            >;
        };

        layer2 {
            label = "FUNCTION";
            bindings = <
&kp jis_1     &kp jis_2       &kp jis_3     &kp jis_4     &kp jis_5     &kp jis_6  &kp jis_7  &kp jis_8  &kp jis_9  &kp jis_0
&trans        &trans          &trans        &trans        &trans        &kp F1     &kp F2     &kp F3     &kp F4     &kp F5
&bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
&bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans        &kp DEL    &trans     &trans     &kp F11    &kp F12
            >;
        };

        layer3 {
            label = "MOUSE";
            bindings = <
&kp END    &kp HOME  &trans    &kp LC(LS(C))  &kp LC(C)  &mkp MB1  &mkp MB3   &mkp MB2  &trans  &trans
&trans     &trans    &trans    &kp LC(LS(V))  &kp LC(V)  &trans    &trans     &trans    &trans  &trans
&trans     &trans    &trans    &trans         &trans     &trans    &trans     &trans    &trans  &trans
&kp LSHFT  &kp LALT  &kp LCMD  &trans         &kp LCTRL  &to 0     &kp ENTER  &trans    &trans  &trans
            >;
        };
    };
};
