#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

/ {
    combos {
        compatible = "zmk,combos";

        combo_eisu {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LANG2>;
        };

        combo_kana {
            timeout-ms = <60>;
            key-positions = <16 17>;
            bindings = <&kp LANG1>;
        };

        combo_esc {
            timeout-ms = <60>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <60>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

        combo_minus {
            bindings = <&kp MINUS>;
            key-positions = <8 9>;
            timeout-ms = <60>;
        };

        combo_tilda {
            bindings = <&kp JP_TILDE>;
            key-positions = <18 19>;
            timeout-ms = <60>;
        };

        combo_psc {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <0 9>;
        };

        combo_caplock {
            bindings = <&kp LS(CAPSLOCK)>;
            key-positions = <2 3>;
        };

        combo_capwords {
            bindings = <&caps_word>;
            key-positions = <3 4>;
        };
    };
    macros {
        /* 150ms待ってからレイヤー0に戻るマクロ */
        to_layer_0_delay: to_layer_0_delay {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            // 指が離れるまで待機してから、レイヤーを0にする
            bindings = <&macro_pause_for_release>, <&to 0>;
        };
    };
    behaviors {
        // [ と { を切り替える定義
        lbr_morph: left_bracket_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "LBR_MORPH";
            #binding-cells = <0>;
            bindings = <&kp JP_LBRACKET>, <&kp JP_LBRACE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // ] と } を切り替える定義
        rbr_morph: right_bracket_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "RBR_MORPH";
            #binding-cells = <0>;
            bindings = <&kp JP_RBRACKET>, <&kp JP_RBRACE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 1 -> !
        jis_1: jis_number_1 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_1";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 2 -> "
        jis_2: jis_number_2 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_2";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&kp JP_DQUOTE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 3 -> #
        jis_3: jis_number_3 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_3";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&kp HASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 4 -> $
        jis_4: jis_number_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_4";
            #binding-cells = <0>;
            bindings = <&kp N4>, <&kp DLLR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 5 -> %
        jis_5: jis_number_5 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_5";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&kp PRCNT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 6 -> &
        jis_6: jis_number_6 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_6";
            #binding-cells = <0>;
            bindings = <&kp N6>, <&kp JP_AMPERSAND>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 7 -> '
        jis_7: jis_number_7 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_7";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp JP_QUOTE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 8 -> (
        jis_8: jis_number_8 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_8";
            #binding-cells = <0>;
            bindings = <&kp N8>, <&kp JP_LPAREN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 9 -> )
        jis_9: jis_number_9 {
            compatible = "zmk,behavior-mod-morph";
            label = "JIS_9";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp JP_RPAREN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // ^ と ~ を切り替える定義
        caret_morph: caret_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "CARET_MORPH";
            #binding-cells = <0>;
            bindings = <&kp JP_CARET>, <&kp JP_TILDE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // ¥(\) と | を切り替える定義 (JISの右上のキー)
        pipe_morph: pipe_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "PIPE_MORPH";
            #binding-cells = <0>;
            bindings = <&kp JP_YEN>, <&kp JP_PIPE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // @ と ` を切り替える定義 (JISのPの右)
        at_morph: at_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "AT_MORPH";
            #binding-cells = <0>;
            bindings = <&kp JP_AT>, <&kp JP_BACKQUOTE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // \ と _ を切り替える定義 (JISの右Shiftの左 / ろ)
        under_morph: under_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "UNDER_MORPH";
            #binding-cells = <0>;
            bindings = <&kp 0x87>, <&kp JP_UNDERSCORE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Bluetooth Select 0 (Ctrl時のみ有効)
        bt_0: bt_profile_0_safe {
            compatible = "zmk,behavior-mod-morph";
            label = "BT_0_SAFE";
            #binding-cells = <0>;
            bindings = <&none>, <&bt BT_SEL 0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        // Bluetooth Select 1
        bt_1: bt_profile_1_safe {
            compatible = "zmk,behavior-mod-morph";
            label = "BT_1_SAFE";
            #binding-cells = <0>;
            bindings = <&none>, <&bt BT_SEL 1>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        // Bluetooth Select 2
        bt_2: bt_profile_2_safe {
            compatible = "zmk,behavior-mod-morph";
            label = "BT_2_SAFE";
            #binding-cells = <0>;
            bindings = <&none>, <&bt BT_SEL 2>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        // Bluetooth Select 3
        bt_3: bt_profile_3_safe {
            compatible = "zmk,behavior-mod-morph";
            label = "BT_3_SAFE";
            #binding-cells = <0>;
            bindings = <&none>, <&bt BT_SEL 3>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        // Bluetooth Select 4
        bt_4: bt_profile_4_safe {
            compatible = "zmk,behavior-mod-morph";
            label = "BT_4_SAFE";
            #binding-cells = <0>;
            bindings = <&none>, <&bt BT_SEL 4>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        // Bluetooth Clear (ペアリング解除)
        bt_clr: bt_clear_safe {
            compatible = "zmk,behavior-mod-morph";
            label = "BT_CLR_SAFE";
            #binding-cells = <0>;
            bindings = <&none>, <&bt BT_CLR>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        // Bluetooth Clear All (全削除)
        bt_all: bt_clear_all_safe {
            compatible = "zmk,behavior-mod-morph";
            label = "BT_ALL_SAFE";
            #binding-cells = <0>;
            bindings = <&none>, <&bt BT_CLR_ALL>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W      &kp E     &kp R        &kp T      &kp Y     &kp U        &kp I       &kp O      &kp P
&kp A      &kp S      &kp D     &kp F        &kp G      &kp H     &kp J        &kp K       &kp L      &kp SEMI
&kp Z      &kp X      &kp C     &kp V        &kp B      &kp N     &kp M        &kp COMMA   &kp DOT    &kp APOS
&kp LCTRL  &kp LSHFT  &kp LALT  &lt 2 SPACE  &kp LCMD   &kp BSPC  &lt 1 ENTER  &kp DELETE  &kp SLASH  &kp KP_ENTER
            >;
        };

        layer1 {
            label = "NUMBER";
            bindings = <
&trans  &kp KP_N0     &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp MINUS        &kp HOME   &kp UP      &kp END       &pipe_morph
&trans  &kp JP_EQUAL  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp JP_PLUS      &kp LEFT   &kp DOWN    &kp RIGHT     &at_morph
&trans  &trans        &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp JP_ASTERISK  &kp SLASH  &lbr_morph  &rbr_morph    &caret_morph
&trans  &trans        &trans     &trans     &trans     &trans           &trans     &trans      &under_morph  &trans      
            >;
        };

        layer2 {
            label = "FUNCTION";
            bindings = <
&jis_1  &jis_2  &jis_3  &jis_4  &jis_5  &jis_6   &jis_7   &jis_8     &jis_9   &kp N0
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6   &kp F7   &kp F8     &kp F9   &kp F10
&bt_0   &bt_1   &bt_2   &bt_3   &bt_4   &bt_clr  &bt_all  &kp RSHFT  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans     &trans   &trans
            >;
        };

        layer3 {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &mkp MB1           &mkp MB3  &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans             &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans             &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &to_layer_0_delay  &trans    &trans    &trans  &trans
            >;
        };
    };
};
